<div class="grid p-4"
     [ngClass]="ticketNumberArray.length == 0 ? 'md:grid-cols-1 max-w-7xl mx-auto' : 'md:grid-cols-2'">
  <div class="flex flex-col pt-6">


    <form (ngSubmit)="onSubmit()" [formGroup]="statusForm">
      <div class="sm:flex">
        <!-- Ticket Link -->
        <mat-form-field appearance="outline" class="mb-2 sm:pr-4 w-full">
          <mat-label class="input-text">Ticket Link</mat-label>
          <input class="input-text" formControlName="ticket" matInput type="text">
          <mat-error *ngIf="statusForm.controls['ticket'].hasError('required')">Ticket Link is required.</mat-error>
        </mat-form-field>

      </div>

      <div class="sm:flex">
        <!-- Ticket Link -->
        <mat-form-field appearance="outline" class="mb-2 sm:pr-4 w-full">
          <mat-label class="input-text">Ticket Title</mat-label>
          <input class="input-text" formControlName="ticketTitle" matInput type="text">
          <mat-error *ngIf="statusForm.controls['ticketTitle'].hasError('required')">Ticket Title is required.
          </mat-error>
        </mat-form-field>

      </div>
      <div class="sm:flex mb-2">
        <!-- Ticket Link -->
        <!--      <mat-label>Project Type : &nbsp;&nbsp;</mat-label>-->
        <mat-radio-group formControlName="studio">
          <mat-label class="input-text">Studio :</mat-label>
          <ng-container *ngFor="let studio of studios">
            <mat-radio-button [value]="studio.value">{{studio.viewValue}}</mat-radio-button>&nbsp;&nbsp;
          </ng-container>
        </mat-radio-group>

      </div>

      <div class="sm:flex mb-2">
        <!-- Ticket Link -->
        <!--      <mat-label>Project Type : &nbsp;&nbsp;</mat-label>-->
        <mat-radio-group formControlName="projectType">
          <mat-label class="input-text">Project Type :</mat-label>
          <ng-container *ngFor="let projectType of projectTypes">
            <mat-radio-button [value]="projectType.value">{{projectType.viewValue}}</mat-radio-button>&nbsp;&nbsp;
          </ng-container>
        </mat-radio-group>

      </div>

      <div class="sm:flex mb-2 mt-2">
        <!--Product Count-->
        <mat-form-field appearance="outline" class="mb-2 sm:pr-4 w-full">
          <mat-label class="input-text">Project</mat-label>
          <mat-select formControlName="project">
            <mat-option *ngFor="let project of projects" [value]="project">
              {{project.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="sm:flex mb-2">
        <mat-radio-group formControlName="projectStatus">
          <mat-label class="input-text">Status :</mat-label>
          <ng-container *ngFor="let status of projectStatusArray">
            <mat-radio-button [value]="status.value">{{status.viewValue}}</mat-radio-button>&nbsp;
          </ng-container>
        </mat-radio-group>
      </div>

      <div class="text-center mt-10">
        <button type="submit"
                class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
          Add to list
        </button>
        &nbsp;
        <button type="button"
                (click)="generateDailyStatus()"
                class="inline-block px-6 py-2.5 bg-green-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out">
          Generate Status
        </button>
      </div>
    </form>


  </div>


  <ng-container *ngIf="ticketNumberArray.length != 0;">
    <div class="flex flex-col pt-6">

      <table class="text-center">
        <thead class="border-b bg-gray-800">
        <tr>
          <th scope="col" class="text-sm font-medium text-white px-2 py-5">
            Sno
          </th>
          <th scope="col" class="text-sm font-medium text-white px-2 py-5">
            Ticket Number
          </th>
          <th scope="col" class="text-sm font-medium text-white px-2 py-5">
            Edit
          </th>
          <th scope="col" class="text-sm font-medium text-white px-2 py-5">
            Delete
          </th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let ticketNumber of ticketNumberArray; let i=index;">
          <tr class="bg-white border-b">
            <td class="py-1 text-sm font-medium text-gray-900">{{i + 1}}</td>
            <td class="text-sm text-gray-900 font-light py-1">
              {{ticketNumber}}
            </td>
            <td class="text-sm text-gray-900 font-light py-1">
              <button type="button"
                      (click)="editItem()"
                      class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                Edit
              </button>
            </td>
            <td class="text-sm text-gray-900 font-light py-1">
              <button type="button"
                      (click)="DeleteItem(ticketNumber)"
                      class="inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out">
                Delete
              </button>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </ng-container>


</div>
